
.footer{
    height: 420px;
    background-color:#F8CEDE;
    box-shadow: inset 0px 4px 20px 25px #ECBABA;
    position: absolute;
}
.navbar{
    background-color: #F8CEDE;
    height: 75px;
    align-content: center;
    box-shadow: 1px 10px 70px 100px #F8CEDE;
}
.navbar-brand{
    font-family: Hurricane;
}
.offcanvas,.col-form-label{
    background-color: #ECBABA;
    font-family: Helpa Slab;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
.logo-offset{
    size:250px;
    box-align: center;
}
.carousel-inner{
    height: 800px;
}
.logo{
    align-items: center;
    size: 300px;
}
.logo-fter{
    height: 55px;
    width: 55px;
}
.carousel-item img{
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.fter{
    text-align: center;
    margin-top: 70px;
    font-family: Helpa Slab;
    font-size: 23px;
    margin-top:50px;
}
.vl{
    border-right: 1px solid black;
    height: 300px;
}
.fter-header{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    background: rgb(241, 241, 226);
    border: #A22D5A, 5px;
}
.btn{
    background-color: #A22D5A;
}
.btn:hover{
    background-color: #c25d84;
    opacity: 0.85;
}
iframe{
    height: 130.71px;
    width: 400.88px;
}
.a-item{
    height: 480px;
    
}

.a-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(o.6);
}
span{
    color: black;
}
.footer hr{
    color: #F8CEDE;
    margin: 8px;
}